version: '3.9'
services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    env_file:
      - ./dotenv_files/.env
    networks:
      - note-taking-network
    command: python manage.py runserver 0.0.0.0:8000

networks:
  note-taking-network: